.sign-up-container {
  padding: 0;
  margin: 0;
  font-size: 14px;
  background: #fff;
}

.sign-up-container .logo-content {
  height: 270px;
  background: #3B4B69;
  width: 100%;
}

.sign-up-container .logo-header {
  padding-top: 70px;
  text-align: center;
}