/* common css style */
.text-center {
  text-align: center;
}
  
.text-primary {
  color: #949494;
}

.pull-left {
  float: left;
}

.overflow-hidden {
  overflow: hidden;
}

body {
  background: #f7f7f7;
}
/* end common css style */

/************************************* sign up form *************************************/

.login-container {
  padding: 0;
  margin: 0;
  font-size: 14px;
  background: #fff;
}

.login-container  .logo-content {
  height: 270px;
  background: #3B4B69;
  width: 100%;
}

.login-container  .logo-header {
  padding-top: 70px;
  text-align: center;
}

div.login-form {
  width: 320px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 40px 0;
}

.login-form .input-group {
  background: #fff;
  border-color: #ebebec;
  width: 100%;
  position: relative;
  display: table;
  border-collapse: separate;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 3px;
}

.login-form .input-group .form-control {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.login-form .input-group .form-control:focus {
  box-shadow: none;
}

.login-form .input-group-addon {
  background: transparent;
  border: 0;
  position: relative;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: transparent;
  border: 0 !important;
  border-radius: 0;
}

.login-form .facebook-button {
  text-align: center;
  color: #fff;
  background-color: #3b5998;
  font-size: 14px;
}

.login-form .facebook-button i {
  margin-right: 5px;
}

.login-form .google-button {
  background-color: #d34836;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.login-form .google-button i {
  margin-right: 10px;
}
.login-form .btn-full {
  width: 100%;
  display: inline-block;
  color: white;
}

.login-form .login-bottom-links {
  padding-top: 10px;
  padding-bottom: 0px;
}

.login-form .login-bottom-links .link {
  color: #51555d;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
}

.login-form .sign-up {
  color: #777;
}

#footer {
  display: block;
}

#footer p {
  margin: 0 0 8.5px;
  font-size: 12px;
}

#footer p a {
  color: #303641;
  text-decoration: none;
  outline: none;
}

/***************************** end sign up form ***************************/

/***************************** css for landing page ************************/

#landing-page nav {
  background: rgba(0, 33, 50, .9);
  box-shadow: none;
  height: 65px;
  overflow: hidden;
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

#landing-page header {
  background-image: url('../images/hero.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: block;
  padding: 150px 50px 100px;
}

#landing-page h1 {
  color: #FFF;
  font-size: 32px;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
  max-width: 850px;
  margin: 50px auto;
}

#landing-page header .white.white {
  color: #096899;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
  background: #FFF;
  border: 1px solid #FFF;
}

#landing-page header .button {
  text-decoration: none;
  display: inline-block;
  padding: 14px 25px;
  border-radius: 8px 1px 8px 1px;
  font-size: 12px;
  line-height: 1.25em;
  text-transform: uppercase;
  position: relative;
  margin: 10px;
  transition: all .2s;
  outline: none;
  background: #FFF;
  color: #333;
  border: 1px solid rgba(0, 128, 174, 0.3);
  text-shadow: none;
  cursor: pointer;
}

#landing-page header .white.white:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
  color: #1FB3FF;
}

#landing-page nav .grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
}

#landing-page nav .logo-container {
  text-align: left;
}

#landing-page nav .nav-menu {
  margin-top: 0;
  text-align: right;
  transform-origin: 50% 0;
  transition: 350ms;
}

#landing-page nav .nav-menu a {
  color: rgba(164, 220, 255, 0.6);
  text-decoration: none;
  display: inline-block;
  padding: 25px;
}

#landing-page nav .nav-menu a:hover {
  color: rgba(164, 220, 255, 1);
}

#landing-page .main {
  background: #FFF;
}

#landing-page .main section {
  padding: 100px 5%;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, .7);
  z-index: 2;
  position: relative;
  overflow: hidden;
}

#landing-page .main section h2 {
  color: #2A4A6A;
  font-weight: bold;
  font-size: 52px;
  text-align: center;
}

#landing-page .main section p.subheader {
  font-size: 18px;
  max-width: 620px;
  margin: 0 auto 50px;
  text-align: center;
}

#landing-page .main section .grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

#landing-page .main section .grid-container .connect-user {
  overflow: hidden;
}

#landing-page .main section .grid-container .build-time {
  overflow: hidden;
}


#landing-page .main .features {
  display: flex;
}

#landing-page .main .features .feature {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 35px;
  box-sizing: border-box;
  height: 500px;
}

#landing-page .main .features .f-1 {
  background-image: url('../images/artists.jpg');
}

#landing-page .main .features .f-2 {
  background-image: url('../images/wordpress.jpg');
}

#landing-page .main .features .f-3 {
  background-image: url('../images/codedark.jpg');
}

#landing-page .main .features .feature h3 {
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 0 0 16px #000;
  font-size: 42px;
  text-align: center;
  margin-bottom: 50px;
}

#landing-page .main .features .feature h3 span {
  font-size: 22px;
  color: #fff;
}

#landing-page .main .features .feature p {
  margin: 0 0 10px;
  color: #FFF;
  font-size: 18px;
  text-shadow: 0 0 15px rgba(0, 0, 0, .8);
  margin-left: auto;
  margin-right: auto;
}

#landing-page .main .bg {
  padding: 170px 5%;
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: none;
  z-index: 1;
  background-image: url('../images/feature.jpg');
}

#landing-page .main .bg h2 {
  font-size: 52px;
  font-weight: normal;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
  max-width: 960px;
  margin: 0 auto;
}

#landing-page footer {
  padding: 55px 5% 0;
  font: 300 14px/1.5em 'Open Sans', sans-serif;
  color: #555;
  background: #EDECEC;
  line-height: 1.5em;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, .2);
  position: relative;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
}

#landing-page .grid-container  {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
}

#landing-page footer .copyright {
  color: #888;
  text-align: center;
  padding: 25px 0 25px;
  font-weight: normal;
  font-size: 12px;
}

#landing-page footer .links h6 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

#landing-page footer .links a {
  color: #888;
  padding: 4px 0;
  text-decoration: none;
  font-size: 16px;
  display: block;
  transition: color .1s ease-out;
}

#landing-page footer .author {
  color: #333;
}

#landing-page footer .links a:hover {
  color: #333;
}