/* common css style */
.text-center {
  text-align: center;
}
  
.text-primary {
  color: #949494;
}

.pull-left {
  float: left;
}

body {
  background: #f7f7f7;
}
/* end common css style */

/************************************* sign up form *************************************/

.login-container {
  padding: 0;
  margin: 0;
  font-size: 14px;
  background: #fff;
}

.login-container  .logo-content {
  height: 270px;
  background: #3B4B69;
  width: 100%;
}

.login-container  .logo-header {
  padding-top: 70px;
  text-align: center;
}

div.login-form {
  width: 320px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 40px 0;
}

.login-form .input-group {
  background: #fff;
  border-color: #ebebec;
  width: 100%;
  position: relative;
  display: table;
  border-collapse: separate;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 3px;
}

.login-form .input-group .form-control {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.login-form .input-group .form-control:focus {
  box-shadow: none;
}

.login-form .input-group-addon {
  background: transparent;
  border: 0;
  position: relative;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: transparent;
  border: 0 !important;
  border-radius: 0;
}

.login-form .facebook-button {
  text-align: center;
  color: #fff;
  background-color: #3b5998;
  font-size: 14px;
}

.login-form .facebook-button i {
  margin-right: 5px;
}

.login-form .google-button {
  background-color: #d34836;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.login-form .google-button i {
  margin-right: 10px;
}
.login-form .btn-full {
  width: 100%;
  display: inline-block;
  color: white;
}

.login-form .login-bottom-links {
  padding-top: 10px;
  padding-bottom: 0px;
}

.login-form .login-bottom-links .link {
  color: #51555d;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
}


#footer {
  display: block;
}

#footer p {
  margin: 0 0 8.5px;
  font-size: 12px;
}

#footer p a {
  color: #303641;
  text-decoration: none;
  outline: none;
}

/***************************** end sign up form ***************************/

/***************************** css for landing page ************************/

#landing-page nav {
  background: rgba(0, 33, 50, .9);
  box-shadow: none;
  height: 65px;
  overflow: hidden;
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

#landing-page header {
  background-image: url('../images/hero.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: block;
  background: rgba(0, 0, 0, .1);
  padding: 150px 50px 100px;
}

#landing-page h1 {
  color: #FFF;
  font-size: 32px;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
  max-width: 850px;
  margin: 50px auto;
}

#landing-page header .white.white {
  color: #096899;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
  background: #FFF;
  border: 1px solid #FFF;
}

#landing-page header .button {
  text-decoration: none;
  display: inline-block;
  padding: 14px 25px;
  border-radius: 8px 1px 8px 1px;
  font-size: 12px;
  line-height: 1.25em;
  text-transform: uppercase;
  position: relative;
  margin: 10px;
  transition: all .2s;
  outline: none;
  background: #FFF;
  color: #333;
  border: 1px solid rgba(0, 128, 174, 0.3);
  text-shadow: none;
  cursor: pointer;
}

#landing-page header .white.white:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
  color: #1FB3FF;
}